//- Affiliate section
.form-group
  label(for="fahasa") Link Fahasa
  input(
    id="fahasa",
    name="affiliate[fahasa]",
    type="text",
    value= affiliate.fahasa,
    class="form-control",
    placeholder="Link Fahasa"
  )
.form-group
  label(for="vinabook") Link VinaBook
  input(
    id="vinabook",
    name="affiliate[vinabook]",
    type="text",
    value= affiliate.vinabook,
    class="form-control",
    placeholder="Link VinaBook"
  )
.form-group
  label(for="tiki") Link Tiki
  input(
    id="tiki",
    name="affiliate[tiki]",
    type="text",
    value= affiliate.tiki,
    class="form-control",
    placeholder="Link Tiki"
  )
.form-group
  label(for="lazada") Link Lazada
  input(
    id="lazada",
    name="affiliate[lazada]",
    type="text",
    value= affiliate.lazada,
    class="form-control",
    placeholder="Link lazada"
  )
.form-group
  label(for="shopee") Link Shopee
  input(
    id="shopee",
    name="affiliate[shopee]",
    type="text",
    value= affiliate.shopee,
    class="form-control",
    placeholder="Link Shopee"
  )
.form-group
  label(for="amazon") Link Amazon
  input(
    id="amazon",
    name="affiliate[amazon]",
    type="text",
    value= affiliate.amazon,
    class="form-control",
    placeholder="Link amazon"
  )
